@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
    <p>@Localizer["TextLearnAbout1"] <a href="https://learn.microsoft.com/aspnet/core">@Localizer["TextLearnAbout2"]</a>.</p>
</div>
